.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 30px;
    text-align: center;
}

fieldset {
    border: none;
}

form div {
    margin: 10px;
}

#username, #password {
    padding: 10px;
    margin: 5px 0;
}

#submit-btn {
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

#username, #password, #submit-btn {
    border-radius: 5px;
}