/* Credit: https://www.w3schools.com/howto/howto_css_modals.asp */

/* Modal box */
#modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 6vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 35%;
    display: flex;
}

.failure-message {
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    flex-grow: 1;
}

/* The Close Button */
#close {
    color: #aaaaaa;
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    padding: 0 10px;
}

#close:hover, #close:focus {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    #modal-content {
        width: 50%;
    }

    #modal {
        padding-top: 8vh;
    }
}

@media (max-width: 700px) {
    #modal {
        padding-top: 12vh;
    }
}

@media (max-width: 600px) {
    #modal-content {
        width: 70%;
    }
}